.sectionS1 .sectionHead h3 {
  font-size: 20px;
  margin-bottom: 24px;
}
.sectionS1 .user {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}
.sectionS1 .user img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.sectionS1 .user .info {
  display: flex;
  flex-direction: column;
}
.sectionS1 .user .info h5 {
  font-size: 16px;
  font-weight: 700;
  color: #252733;
}
.sectionS1 .user .info p {
  color: #929292;
  margin: 0;
}
.sectionS1 .gymSlug {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.sectionS1 .gymSlug h5 {
  text-align: center;
  color: #4c4c4c;
  font-size: 14px;
  font-weight: 600;
}
.sectionS1 .gymSlug .addGallary {
  width: 218px;
  height: 207px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  background: #d9d9d9;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.sectionS1 .gymSlug .addGallary p {
  color: #4c535f;
  font-size: 12px;
  font-weight: 500;
}
.sectionS1 .gymSlug .addGallary input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.sectionS1 .partnerDetails .partnerDetail {
  padding: 15px;
  padding-inline-start: 120px;
  border-bottom: 1px solid #f2f2f2;
}
@media (max-width: 576px) {
  .sectionS1 .partnerDetails .partnerDetail {
    padding-inline-start: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
  }
}
.sectionS1 .partnerDetails .partnerDetail label {
  width: 30%;
  color: #4c4c4c;
  font-size: 14px;
  font-weight: 600;
}
@media (max-width: 576px) {
  .sectionS1 .partnerDetails .partnerDetail label {
    width: 100%;
  }
}
.sectionS1 .partnerDetails .partnerDetail input,
.sectionS1 .partnerDetails .partnerDetail select {
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: #fff;
  outline: none;
  padding: 10px;
  min-width: 200px;
}
@media (max-width: 576px) {
  .sectionS1 .partnerDetails .partnerDetail input,
  .sectionS1 .partnerDetails .partnerDetail select {
    width: 100%;
  }
}
.sectionS1 .partnerDetails .partnerDetail ::placeholder {
  color: #929292;
  font-size: 14px;
  font-weight: 700;
}
.sectionS1 .partnerDetails .partnerDetail ::-ms-input-placeholder {
  color: #929292;
  font-size: 14px;
  font-weight: 700;
}
.sectionS1 .partnerDetails .partnerDetail select {
  -webkit-appearance: none;
  color: #929292;
  font-weight: bold;
}