.tableS1 .textofComplaintStatus {
  border-radius: 4px;
  background: #d1ffde;
  color: #1e1919;
  padding: 10px;
}
.tableS1 .textofComplaintStatus.complationFinished {
  background: #fbffd1;
}
.tableS1 .inquireStatus {
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 0 8px;
  border-radius: 8px;
  background: #ffd8d8;
  color: #1e1919;
}
.tableS1 .inquireStatus.notAnswer {
  background: #fbffd1;
}
.tableS1 .inquireStatus.finised {
  background: #d1ffde;
}