.newUserPage form .content {
  padding: 40px 20px 80px;
}
.newUserPage form .content > div {
  max-width: 542px;
  margin: 0 auto;
}
.newUserPage form .content label {
  color: #4c535f;
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  display: block;
}
.newUserPage form .content .inputS1 {
  height: 52px;
  border-radius: 8px;
  border: 1px solid #e0e4ec;
  background: linear-gradient(0deg, #edf2f6 0%, #edf2f6 100%), #fff;
}
.newUserPage form .content .inputS1 input,
.newUserPage form .content .inputS1 select {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  padding: 5px 15px;
  color: #4c535f;
  font-size: 16px;
  font-weight: 500;
}
.newUserPage form .content .inputS1 input:focus,
.newUserPage form .content .inputS1 select:focus {
  outline: none;
}
.newUserPage form .content .inputS1 select {
  text-align: center;
  background-image: url(/assets/icons/arrow.svg);
  background-repeat: no-repeat;
  background-position: 60px center;
  appearance: none;
}
.newUserPage form .content .inputS1.phone {
  display: flex;
  align-items: center;
}
.newUserPage form .content .inputS1.phone span {
  padding: 5px 15px;
  color: #8d98aa;
  font-weight: 500;
  border-inline-start: 2px solid #e0e4ec;
}
.newUserPage form .addNewBtn {
  margin: 56px auto 0;
}
@media (max-width: 991px) {
  .newUserPage form .addNewBtn {
    margin: 22px auto 0;
  }
}